name: Server CI (flake8, docker build, pytest)

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8

      - name: Analysing the code with flake8
        run: |
          echo "Analyzing the code with flake8"
          cd server
          flake8 $(git ls-files '*.py')
          echo "Analyzed successfully with flake8!"

      - name: Bring up the server using docker compose
        id: build-image
        run: |
          echo "Starting server..."
          docker compose up --build -d
          echo "Server docker image built successfully"

      - name: Check docker containers' existence
        run: |
          echo "Listing containers..."
          docker container ps

      - name: Initialize db tables using Alembics
        run: |
          sleep(5)
          echo "Initializing db tables..."
          docker compose exec server alembic upgrade head 
          echo "Finished init db!"

      - name: Run Pytest tests
        id: run-server-tests
        run: |
          echo "Running tests..."
          docker run ${{ secrets.DOCKER_USERNAME }}/${{ secrets.IMAGE_NAME }}:latest poetry run pytest --cov-config=.coveragerc --cov=server
